{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{% static "vendor/bootstrap/css/bootstrap.css" %} ">
    <title>Our Store!!!</title>
    <style>
        .ng-cloak {
            display: none;
        }
    </style>
</head>
<body>

<div class="ng-cloak">
    <main></main>
</div>

<script src="{% static "vendor/angular.js" %}"></script>
<script src="{% static "vendor/angular-route.js" %}"></script>

<script>
    angular.module("dj", [])
            .constant('basePath', '{% static "store/" %}')
            .constant('apiPaths', {
                product_list: '{% url "api:product-list" %}'
            });
</script>

<script src="{% static "store/store.module.js" %}"></script>

<script src="{% static "store/inventory.service.js" %}"></script>
<script src="{% static "store/cart.service.js" %}"></script>

<script src="{% static "store/main.component.js" %}"></script>
<script src="{% static "store/very-nice-panel.component.js" %}"></script>
<script src="{% static "store/inventory.component.js" %}"></script>
<script src="{% static "store/product.component.js" %}"></script>
<script src="{% static "store/cart.component.js" %}"></script>

</body>
</html>