{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="{% static "vendor/bootstrap/css/bootstrap.css" %} ">
    <title>Our Store!!!</title>
    <style>
        .ng-cloak {
            display: none;
        }
    </style>
</head>
<body>

<div class="ng-cloak">
    <div class="container" ng-controller="StoreCtrl as vm">
        <h1>
            My Awesome Store!
        </h1>

        <very-nice-panel
                ng-show="!vm.loaded"
                title="'Loading....'"
                content="vm.loadingMessage"></very-nice-panel>

        <div class="row" ng-show="vm.loaded">

            <div class="col-sm-7">
                <ng-view></ng-view>
            </div>

            <div class="col-sm-5">
                <cart items="vm.cartItems"></cart>
            </div>
        </div>

    </div>
</div>

<script src="{% static "vendor/angular.js" %}"></script>
<script src="{% static "vendor/angular-route.js" %}"></script>

<script>
    angular.module("dj", [])
            .constant('basePath', '{% static "store/" %}')
            .constant('apiPaths', {
                product_list: '{% url "api:product-list" %}'
            });
</script>

<script src="{% static "store/store.js" %}"></script>
<script src="{% static "store/very-nice-panel.component.js" %}"></script>
<script src="{% static "store/cart.component.js" %}"></script>

</body>
</html>