<div class="panel panel-primary">

    <div class="panel-heading">
        <h3 class="panel-title">My Cart</h3>
    </div>

    <ul class="list-group">
        <li class="list-group-item" ng-repeat="item in $ctrl.items">
            {{item.product.title}}
            {{item.product.price|currency}}
            X <input type="number" ng-model="item.amount" min="1" max="100">
            = {{item.product.price * item.amount|currency}}
        </li>
        <li class="list-group-item">
            Items: 0; Total: <b>{{$ctrl.total()|currency}}</b>
        </li>
    </ul>

</div>
